/* styles */

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    flex-wrap: nowrap;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

.nav-links a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    padding: 0px 10px;
}

.nav-links a:hover {
    background-color: #34495e;
    border-radius: 5px;
}

.body-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px;
    padding: 60px;
    padding-right: 120px;
    padding-left: 200px;
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    flex-wrap: nowrap;
}

.left-content {
    flex: 1;
}

.big-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    min-width: 200px;
}

.small-text {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 0;
    min-width: 300px;
}

.body-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}

.right-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-image {
    display: flex;
    align-items: flex-end;
    max-width: 500px;
    padding-right: 90px;
}

.card-header {
    text-align: center;
    margin: 35px;
    color: #1F2937;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 36px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 70px;
    margin-top: 50px;
}

.card-images img{
    width: 180px !important;
    height: 180px !important;
    object-fit: cover;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: #3882F6;
}

.card-images p {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 90%;
}

.testimony {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    flex-direction: column;
    padding-top: 130px;
}

.quote {
    text-align: center;
    width: 800px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    text-align: left;
    font-weight: 300;
}

.name {
    width: 700px;
    padding-top: 5px;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 100px;
}

.bottom-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    margin: 100px auto;
    width: 800px;
    padding: 50px 70px;
    border-radius: 15px;
    gap: 150px;
}

.first-cta {
    font-size: 22px;
    color: white;
}

.second-cta {
    font-size: 18px;
    color: #d2d1d1;
}

.cta-button {
    color: white;
    background-color: #3882F6;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 1.5px;
    font-size: 20px;
    padding: 5px 20px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    color: #d2d1d1;
    background-color: #1F2937;
    padding: 40px;
    font-size: 18px;
}